DB_HOST=postgres
DB_PORT=5432
DB_USER=userEx
DB_PASSWORD=passwordEx
DB_NAME=analytics_db

REDIS_ADDRESS=redis:6379

HTTP_CLIENT_TIMEOUT=3s
HTTP_DIAL_TIMEOUT=2s
HTTP_KEEP_ALIVE=30s
HTTP_IDLE_CONN_TIMEOUT=90s

BINANCE_BASE_URL=https://api.binance.com
KRAKEN_BASE_URL=https://api.kraken.com
COINBASE_BASE_URL=https://api.exchange.coinbase.com

DB_TIMEOUT=3s
DB_MAX_CONNS=50
DB_MIN_CONNS=20
DB_MAX_CONN_LIFETIME=1h
DB_MAX_CONN_IDLE_TIME=30m

COLLECTOR_CYCLE_TIMEOUT=35s
COLLECTOR_WORKERS=50