DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=pass
DB_NAME=db

REDIS_ADDRESS=redis:6379

HTTP_CLIENT_TIMEOUT=3s
HTTP_DIAL_TIMEOUT=2s
HTTP_KEEP_ALIVE=30s
HTTP_IDLE_CONN_TIMEOUT=90s

BINANCE_BASE_URL=https://api.binance.com
KRAKEN_BASE_URL=https://api.kraken.com
COINBASE_BASE_URL=https://api.exchange.coinbase.com

DB_TIMEOUT=3s